body {
  margin: 0;
  height: 100vh;
  background-color: #87CEEB; 
  display: flex;
  transition: background-color 1s ease;
  font-family: sans-serif;
  color: white;
}

 #orbita-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.orbita {
  position: relative;
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
}

.terra {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.terra img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -120px;
  left: -150px;
  transition: opacity 1s ease;
  opacity: 0;
}

.terra img.visivel {
  opacity: 1;
}

.astro {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translateY(100px);
  transform-origin: center -100px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.astro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.girar {
  animation: girar 4s linear forwards;
}

.visivel {
  opacity: 1 !important;
}

@keyframes girar {
  0%   { transform: rotate(0deg) translateY(100px); }
  100% { transform: rotate(360deg) translateY(100px); }
}

#mensagem-final {
  display: none;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding: 0 50px;
}

.tema{
  background-color: wheat;
  margin-right: 40px;
  border-radius: 100px;
}

.iconeTema{
  width: 50px;
  padding: 4px 30px;
}

.banner1{
  width: 100%;
}

#porcentuagem{
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 60%;
}

.qualidade-container {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  margin: 20px 200px;
}

.opcao {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a40;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
  border: 2px solid transparent;
}

.opcao:hover {
  transform: scale(1.1);
}

.opcao.selecionado {
  border-color: #ffffff;
}

.container {
  position: relative;
  width: 90%;
  max-width: 800px;
}

.background-image {
  width: 100%;
  display: block;
}

.circle-text {
  position: absolute;
  top: 52%;
  left: 68.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

.box-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media (max-width: 768px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    height: 100vh;
  }

  .terra img{
    left: -120px;
  }
}